[submodule "workspace/external/glm"]
	path = workspace/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "workspace/external/stb"]
	path = workspace/external/stb
	url = https://github.com/nothings/stb.git
[submodule "workspace/external/LongMarch"]
	path = workspace/external/LongMarch
	url = https://github.com/LazyJazzDev/LongMarch.git
[submodule "workspace/external/vcpkg"]
	path = workspace/external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
